TRAPPIST_schedules_docx/

night_blocks_propositions/

survey_hours/

target_lists/

DATABASE/

.DS_STORE

passwords.csv

tutorials.ipynb

plan.txt

dist/

*.ipynb_checkpoints

.idea

SPOCK.egg-info/

build/

test/

test.py

input_short_term.csv

input.csv
