TRAPPIST_schedules_docx/

night_blocks_propositions/

survey_hours/

target_lists/

SPOCK_files/

DATABASE/

.DS_STORE

passwords.csv

tutorials.ipynb

plan.txt

*.ipynb_checkpoints

.idea

doc/build/

SPOCK.egg-info/

build/